<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<div class="base">
  <div class="container-fluid ">
    <div class="row mt-3 ml-5 ml-lg-0">
      <div class="col-12 col-md-5 d-none d-md-block pl-0  ">
        
      </div>
      <div class="col-12 col-md-7 pl-0 search_position_fix ">
        <app-search>
        </app-search>
      </div>
    </div>
    <div class="row mt-2 ml-5 ml-lg-0 mb-2">
      <div class="col-12 col-md-5 pl-0 list_position_fix">
        <app-list>
        </app-list>
      </div>
      <div class="col-12 col-md-7 pl-0 mt-2 mt-md-0 details_fix ">
        <app-details>
          
        </app-details>
      </div>
    </div>
  </div>
</div>